#whole-page {
    #main-contact {
        // position: absolute;
        // width: 100%;
        // display: flex;
        /////// @include cent-all();
        // top: 15%;
        // bottom: 15%;
        // left: 15%;
        // right: 15%;
        .container {
            .row {

                .border-for-drawing {
                    background-color: $colD;
                    display: grid;
                    grid-template: .01fr 10fr .01fr / .01fr 10fr .01fr;
                    min-width: 100%;
                    padding: 0;

                    & .top-abt {
                        grid-area: 1 / 2 / 2 / 3; 
                        min-height: 20px;
                        margin-bottom: 5px;
                    }
                    & .left-abt {
                        grid-area: 1 / 1 / 4 / 2; 
                        min-width: 20px;
                        border-top-left-radius: 25px;
                    }

                    & .drawing {
                        padding: 0;
                        position: relative;
                        display: flex;
                        
                        min-width: 70vw;
                        & #poepidy-drawing {
                            position: relative;
                            min-width: 100%;
                            z-index: 5;
                        }
    
                        .contact-cont {
                            position: absolute;
                            
    
                            border-radius: 50%;
                            border: 1px solid white;
                            background-color: $colE;
                            z-index: 10;
                            display: flex;
                            @include cent-all();
                            
                            min-width: 5%;
                            scale: 1 2;
    
                            & .imger-contact {
                                min-height: 55%;
                                min-width: 55%;
                                filter: invert(51%) sepia(66%) saturate(490%) hue-rotate(349deg) brightness(94%) contrast(91%);
                            }
    
                            &.left-eye {
                                top: 30%;
                                left: 38%;
                            }
    
                            &.right-eye {     
                                top: 30%;
                                right: 38%;
                            }
                        }
    
                        & .tmp-eye {
                            &.left-eye {
                                top: 30%;
                                left: 38%;
                            }
                            &.right-eye {     
                                top: 30%;
                                right: 38%;
                            }
    
                            z-index: 10;
                            border: none;
                            
    
                            display: grid;
                            grid-template: 1f / 2fr;
                            
                            & .hover-eye {
                                margin: 10% 2% 10% 2%;
                                display: grid;
                                grid-template: auto / auto;
                                
                                & .eye-txt {
                                    height: 100%;
                                    display: flex;
                                    @include cent-all();
                                    & p {
                                        min-width: 100%;
                                        font-size: 30%;
                                        padding: 0;
                                        margin: 0;
                                    }
                                }  
                            }
    
                            transform: scale(5);
                            border: 1px solid white;
                        }
    
                        // & .tmp-eye2 {
                        //     border-radius: 50%;
                        //     border: 3px solid white;
                        //     height: 350px;
                        //     width: 350px;
                        //     position: absolute;
                        //     right: 0;
                        //     & .hover-eye {
                        //         height: 100%;
                        //         width: 100%;
                        //         display: flex;
                        //         @include cent-all();
                        //         & .imger-contact {
                        //             margin-right: 20px;
                        //         }
                        //     }
                        // }
                    }

                    & .btm-abt {
                        grid-area: 3 / 2 / 4 / 3; 
                        min-height: 20px;
                    }
                    & .right-abt {
                        grid-area: 1 / 3 / 4 / 4; 
                        min-width: 20px;
                        border-bottom-right-radius: 25px;
                    }

                }
                


                
                
                & .legend {
                    margin-top: 15px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-align: justify;
                    width: 100%;
                    font-size: 8pt;
                }
            }
        }
    }
}